<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Preço da Criptomoeda</title>
</head>
<body>
    <h1>Preço da Criptomoeda</h1>
    <p>O preço atual é: <%= price ? price : "Indisponível" %></p>
    <a href="/user">Voltar</a>
</body>
</html>
